<tr (click)="getDetail()">
  <td>{{ item.typePresta }}</td>
  <td>{{ item.client }}</td>
  <td>{{ item.nbJours }}</td>
  <td>{{ item.tjmHt | currency: 'EUR' }}</td>
  <td>{{ item | total | currency: 'EUR' }}</td>
  <td>{{ item | total: item.tauxTva | currency: 'EUR' }}</td>
  <td [appState]="item.state">
    <select (change)="changeState($event)"
            (click)="$event.stopPropagation()">
      <!-- <option *ngFor="let state of states | keyvalue"
              [value]="state.key">{{ state.value }}</option> -->
      <option [value]="item.state">{{ item.state }}</option>
      <ng-container *ngFor="let state of states">
        <option *ngIf="item.state !== state"
                [value]="state">{{ state }}</option>
      </ng-container>
    </select>
  </td>
  <td>
    <fa-icon (click)="$event.stopPropagation(); delete()"
             [icon]="faTrashAlt"></fa-icon>
  </td>
  <td>
    <fa-icon (click)="$event.stopPropagation(); edit()"
             [icon]="faEdit"></fa-icon>
  </td>
</tr>
