@import "~src/variables";

#tab .state-annule,
.state-inactif {
  background: $palette-color-two;
}

#tab .state-option {
  background: $palette-color-three;
}

#tab .state-confirme,
.state-actif {
  background: $palette-color-four;
}

.table-striped tbody>*:nth-of-type(odd) tr {
  background: darken($light-color, 15);
}

tbody>* {
  display: contents;
}

app-page-prestations thead {
  background: $dark-color;
  color: $light-color;
}
